.logo{
    height: 75px;
    width: 75px;
    background-color: gray;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-image{
    height: 300px;
    background-image: url(https://picsum.photos/1200/300);
    background-size: cover;
    background-position: center;
}